/* Styles go here */
.sentence{
	display:inline-block;
	margin: 5px;
	float:left;
	color:balck;

}
.btn{
	color:black;
	background-color: #DDA0DD;
	border-color: #8A2BE2;
}


@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.content{
	font-family: 'Heebo';
	color: black;
}
h1{
	text-align: center;
	color: black;
}

h2{
	margin: 1%;
	text-align: center;
	color: black;
}

tr{
	color: black;
}

.all_encomp{
	background-color: #D8BFD8;
	position: fixed;
    bottom: 0;
    width: 100%;
	height: 100%;
	overflow-y:auto;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content_two {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }
